body {
    text-align: left;
    background-color: rgb(206, 172, 238);
}

.Question box {
    background-color: aqua;
    width: 400px;
    padding: 20px;
    margin: 20px;
    border: 2x;
}

h1 {
    text-align: center;
    border: 15px;
    margin: 5px;
    padding: 10px;
    border-style: inset;
}